<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoyun.personnelProject.dao.StudentDao">
<resultMap id="student" type="com.haoyun.personnelProject.bean.Student" >
    <id column="id" property="id"  />
    <result column="name" property="name" />
    <result column="code" property="code" />
    <result column="isClass" property="isClass" />
  </resultMap>
  <select id="findStudentById" resultMap="student" parameterType="String">
  		select 
  			id,
  			name,
  			code,
  			isClass
  		from student s
  		<where>
  			<if test="id != null and id !=''">
    			s.id = #{id}
  			</if> 
  		</where>
  </select>
</mapper>
